<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增【请填写功能名称】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hospital-add">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">医院编号：</label>
                <div class="col-sm-8">
                    <input name="hospitalId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">医院名称：</label>
                <div class="col-sm-8">
                    <input name="hospitalName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">地址：</label>
                <div class="col-sm-8">
                    <input name="address" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">等级：</label>
                <div class="col-sm-8">
                    <input name="level" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">医院电话：</label>
                <div class="col-sm-8">
                    <input name="phonenumber" class="form-control" type="text" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/hospital"
        $("#form-hospital-add").validate({
            focusCleanup: true
            rules:{
                hospitalId:{
                    isNumber:true,
                    minlength:1,
                    maxlength:20,
                    remote:{
                        url: prefix + "/checkHospitalIdUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "hospitalId": function() {
                                return $.common.trim($("#hospitalId").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                hospitalName: {

                }
            }
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-hospital-add').serialize());
            }
        }
    </script>
</body>
</html>