<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增【请填写功能名称】')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hospital-add">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">医院编号：</label>
                <div class="col-sm-8">
                    <input name="hospitalId" id="hospitalId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">医院名称：</label>
                <div class="col-sm-8">
                    <input name="hospitalName" id="hospitalName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">地址：</label>
                <div class="col-sm-8">
                    <input name="address" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">等级：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="level" required>
                        <option value="">请选择医院等级</option>
                        <option value="一级丙等">一级丙等</option>
                        <option value="一级乙等">一级乙等</option>
                        <option value="一级甲等">一级甲等</option>
                        <option value="二级丙等">二级丙等</option>
                        <option value="二级乙等">二级乙等</option>
                        <option value="二级甲等">二级甲等</option>
                        <option value="三级丙等">三级丙等</option>
                        <option value="三级乙等">三级乙等</option>
                        <option value="三级甲等">三级甲等</option>
                        <option value="三级特等">三级特等</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">医院电话：</label>
                <div class="col-sm-8">
                    <input name="phonenumber" id="phonenumber" class="form-control" type="text" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/hospital"
        $("#form-hospital-add").validate({
            onkeyup : false,
            focusCleanup: true,
            rules:{
                hospitalId:{
                    number:true,
                    minlength:1,
                    maxlength:20,
                    remote:{
                        url: prefix+ "/checkHospitalIdUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "hospitalId": function() {
                                return $.common.trim($("#hospitalId").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                hospitalName: {
                    hospital:true,
                    minlength:3,
                    maxlength:20,
                    remote:{
                        url:prefix + "/checkHospitalNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "hospitalName": function() {
                                return $.common.trim($("#hospitalName").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                address:{
                    hospital:true,
                    minlength:5,
                    maxlength:30
                },
                phonenumber:{
                    isPhone:true,
                    remote:{
                        url: prefix + "/checkPhonenumberUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "hospitalId": function() {
                                return $.common.trim($("#hospitalId").val());
                            },
                            "phonenumber":function() {
                                return $.common.trim($("#phonenumber").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                }
            },
            messages:{
                "hospitalId":{
                    remote:"该编号已存在"
                },
                "hospitalName":{
                    remote:"该医院已存在"
                },
                "address":{
                    hospital:"请输入正确的地址(仅包含数字字母汉字括号)"
                },
                "level":{
                    number:"请输入0~9的数字,0代表一级丙等"
                },
                "phonenumber":{
                    remote:"该手机号已被使用"
                }

            }
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-hospital-add').serialize());
            }
        }
    </script>
</body>
</html>