<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改挂号')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-order-edit" th:object="${patientOrder}">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">订单编号：</label>
            <div class="col-sm-8">
                <input name="orderId" th:field="*{orderId}" class="form-control" type="text" required readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">医生编号：</label>
            <div class="col-sm-8">
                <input name="doctorId" th:field="*{doctorId}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">病人编号：</label>
            <div class="col-sm-8">
                <input name="patientId" th:field="*{patientId}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">出诊时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="startTime" th:value="*{startTime}" class="form-control"  type="text" required>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">下订单时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="endTime"  th:value="*{endTime}"  class="form-control" type="text" required>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">挂号费：</label>
            <div class="col-sm-8">
                <input name="orderFee" th:field="*{orderFee}" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">订单状态：</label>
            <div class="col-sm-8">
                <select class="form-control" th:field="*{hasPay}" required>
                    <option value="0">未付款</option>
                    <option value="1">未完成出诊</option>
                    <option value="2">已结束</option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var prefix = ctx + "system/order";
    $("#form-order-edit").validate({
        onkeyup:false,
        focusCleanup: true,
        rules:{
            doctorId:{
                number:true,
                remote:{
                    url: prefix + "/checkDoctorIdExists",
                    type: "post",
                    dataType: "json",
                    data: {
                        "doctorId": function() {
                            return $("#doctorId").val();
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            patientId:{
                number:true,
                remote:{
                    url: prefix + "/checkPatientIdExists",
                    type: "post",
                    dataType: "json",
                    data: {
                        "patientId": function() {
                            return $("#patientId").val();
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            orderFee:{
                number:true,
                max:1000,
                min:1
            }
        },
        messages:{
            "doctorId":{
                remote:"不存在该医生"
            },
            "patientId":{
                remote:"不存在该病人"
            }
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-order-edit').serialize());
        }
    }

    $("input[name='startTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
       /* startDate:"2020-9-12",*/
        todayBtn:true,
        todayHighlight:true,
        autoclose: true
    });

    $("input[name='endTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
      /*  startDate:"2020-9-12",*/
        todayBtn:true,
        todayHighlight:true,
        autoclose: true
    });
</script>
</body>
</html>